@define-color	red #f38ba8;

* {
    font-family: monospace;
    font-size: large;
    border-radius: 12px;
}

window {
    background: alpha(@theme_bg_color, 0.5);
    animation: slideIn 0.1s ease-in-out both;
}

@keyframes slideIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    padding: 10px;
    background-color: transparent;
}

#inner-box {
    margin: 10px;
    padding: 10px;
    background-color: transparent;
}

#input {
    margin: 5px 20px;
    padding: 10px;
    border: none;
    color: @theme_fg_color;
    background: alpha(@theme_base_color, 0.5);
}

#input image {
    border: none;
    color: @theme_fg_color;
}

#input * {
    outline: 4px solid @theme_fg_color !important;
}

#text {
    margin: 5px;
    color: @theme_fg_color;
}

#entry {
    padding: 10px;
    background-color: transparent;
}

#entry arrow {
    border: none;
    color: @theme_fg_color;
}

#entry:selected {
    border: none;
    background-color: alpha(@theme_selected_bg_color, 0.5);
}

#entry:selected #text {
    color: @theme_bg_color;
}

#entry:drop(active) {
    background-color: alpha(@theme_selected_bg_color, 0.5)!important;
}