* {
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    border-radius: 12px;
}

window {
    background: @theme_bg_color;
}

#outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    padding: 10px;
    background-color: transparent;
}

#inner-box {
    margin: 10px;
    padding: 10px;
    background-color: transparent;
}

#input {
    margin: 5px 20px;
    padding: 10px;
    border: none;
    color: @theme_fg_color;
    background: @theme_base_color;
}

#input image {
    border: none;
    color: @theme_fg_color;
}

#input * {
    outline: 4px solid @theme_fg_color!important;
}

#text {
    margin: 5px;
    color: @theme_fg_color;
}

#entry {
    padding: 10px;
    background-color: transparent;
}

#entry arrow {
    border: none;
    color: @theme_fg_color;
}

#entry:selected {
    border: none;
    background-color: @theme_selected_bg_color;
}

#entry:selected #text {
    color: @theme_bg_color;
}

#entry:drop(active) {
    background-color: @theme_selected_bg_color!important;
}