* {
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    border-radius: 12px;
}

window {
    background: alpha(@theme_bg_color, 0.5);
}

#outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    padding: 10px;
    background-color: transparent;
}

#inner-box {
    margin: 10px;
    padding: 10px;
    background-color: transparent;
}

#input {
    margin: 5px 20px;
    padding: 10px;
    border: none;
    color: alpha(@theme_fg_color, 0.5);
    background: alpha(@theme_base_color, 0.5);
}

#input image {
    border: none;
    color: alpha(@theme_fg_color, 0.5);
}

#input * {
    outline: 4px solid alpha(@theme_fg_color, 0.5)!important;
}

#text {
    margin: 5px;
    color: alpha(@theme_fg_color, 0.5);
}

#entry {
    padding: 10px;
    background-color: transparent;
}

#entry arrow {
    border: none;
    color: alpha(@theme_fg_color, 0.5);
}

#entry:selected {
    border: none;
    background-color: alpha(@theme_selected_bg_color, 0.5);
}

#entry:selected #text {
    color: alpha(@theme_bg_color, 0.5);
}

#entry:drop(active) {
    background-color: alpha(@theme_selected_bg_color, 0.5)!important;
}