* {
    font-family: JetBrainsMono Nerd Font;
    border-radius: 12px;
    padding-top: 1px;
    padding-bottom: 1px;
}

window#waybar {
    background: @theme_base_color;
    border-bottom: 1px solid @unfocused_borders;
    color: @theme_text_color;
    border-radius: 12px;
}

#custom-power, #workspaces, #clock, #custom-notification, #language, #keyboard-state, #pulseaudio, #tray, #cpu, #memory,#temperature {
    padding-left: 15px;
    padding-right: 15px;
}

#custom-power {
    font-size: 28px;
    margin-left: 20;
    color: #2ac3de;
}

#workspaces label {
    font-size: 18px;
    padding-right: 8px;
    color: @theme_selected_bg_color;
}

#workspaces button:hover {
    background-color: @theme_selected_bg_color;
    color: @theme_text_color; 
}

#cpu {
    font-size: 18px;
    margin-left: 35rem;
    color: @success_color;
}

#memory {
    font-size: 18px;
    color: @success_color;
}

#temperature {
    font-size: 18px;
    color: @success_color;
}

#clock {
    font-size: 18px;
}

#custom-notification {
    font-size: 18px;
}

#custom-notification.notification {
    color: @success_color;
}

#custom-notification.dnd-notification {
    color: @warning_color;
}

#custom-notification.inhibited-notification {
    color: @success_color;
}

#custom-notification.dnd-inhibited-notification {
    color: @warning_color;
}

#language {
    font-size: 20px;
}

#keyboard-state {
    font-size: 24px;
    padding-left: 10px;
}

#pulseaudio {
    font-size: 24px;
}

#tray {
    margin-right: 20;
}