* {
    font-family: JetBrainsMono Nerd Font;
    border-radius: 12px;
    padding-top: 1px;
    padding-bottom: 1px;
}

window#waybar {
    background: @theme_base_color;
    border-bottom: 1px solid @unfocused_borders;
    color: @theme_text_color;
    border-radius: 12px;
}

#custom-powerbutton,
#custom-lock,
#custom-logout,
#custom-reboot,
#custom-shutdown,
#workspaces,
#clock,
#custom-notification,
#language,
#keyboard-state,
#pulseaudio,
#tray,
#cpu,
#memory,
#temperature {
    padding-left: 15px;
    padding-right: 15px;
}

#workspaces label,
#cpu,
#memory,
#temperature,
#clock,
#custom-notification,
#keyboard-state,
#language,
#pulseaudio {
    font-size: 20px;
}

#cpu,
#memory,
#temperature {
    color: @success_color;
}

#custom-notification.notification,
#custom-notification.inhibited-notification {
    color: @success_color;
}

#custom-notification.dnd-notification,
#custom-notification.dnd-inhibited-notification {
    color: @warning_color;
}

#custom-powerbutton {
    font-size: 28px;
    margin-left: 20;
    color: #2ac3de;
}

#custom-lock,
#custom-logout,
#custom-reboot,
#custom-shutdown {
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

#custom-lock {
    background-image: url("./icons/lock.png");
}

#custom-logout {
    background-image: url("./icons/logout.png");
}

#custom-reboot {
    background-image: url("./icons/reboot.png");
}

#custom-shutdown {
    background-image: url("./icons/shutdown.png");
}

#workspaces label {
    padding-right: 8px;
    color: @theme_selected_bg_color;
}

#workspaces button:hover {
    background-color: @theme_selected_bg_color;
    color: @theme_text_color;
}

#tray {
    margin-right: 20;
}