* {
    border-radius: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: calc(48px * 0.50);
}

window#waybar {
    background: @theme_bg_color;
    border-bottom: 1px solid @unfocused_borders;
    color: @theme_text_color;
    border-radius: 12px;
}

tooltip label {
    font-size: calc(48px * 0.35);
}

#custom-wmlogo,
#custom-lock,
#custom-logout,
#custom-reboot,
#custom-shutdown,
#cpu,
#memory,
#temperature,
#clock,
#custom-notification,
#keyboard-state,
#language,
#pulseaudio,
#tray {
    margin-left: 10px;
    margin-right: 10px;
    /* border: 1px solid; */
}

#custom-lock,
#custom-logout,
#custom-reboot,
#custom-shutdown {
    font-size: calc(48px * 0.45);
    color: @accent_fg_color;
    padding-left: 10px;
    padding-right: 15px;
    margin: 1px;
}

#custom-lock:hover,
#custom-logout:hover,
#custom-reboot:hover,
#custom-shutdown:hover,
#workspaces button:hover {
    background-color: @theme_selected_bg_color;
}

#cpu,
#memory,
#temperature,
#clock,
#custom-notification,
#language {
    font-size: calc(48px * 0.35);
}

#custom-wmlogo {
    background-image: url("./icons/logo.png");
    background-size: 48px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: calc(48px * 0.7);
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#workspaces,
#hardware {
    margin-left: 20px;
}

#workspaces button label {
    font-size: calc(48px * 0.40);
    padding-right: 8px;
}

#hardware {
    color: @theme_unfocused_selected_bg_color;
}

#keyboard-state {
    color: @warning_color;
}

#tray {
    margin-right: 15;
}