* {
    font-size: 1.5rem;
    border-radius: 12px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: none;
}

window#waybar {
    background: @theme_bg_color;
    border-bottom: 1px solid @unfocused_borders;
    color: @theme_fg_color;
}

tooltip {
    background: @theme_bg_color;
}

tooltip label {
    font-size: 1.2rem;
}

#custom-wmlogo,
#custom-lock,
#custom-logout,
#custom-reboot,
#custom-shutdown,
#cpu,
#memory,
#temperature,
#clock,
#custom-notification,
#keyboard-state,
#language,
#pulseaudio,
#custom-updates,
#tray {
    margin-left: 10px;
    margin-right: 10px;
}

#custom-lock,
#custom-logout,
#custom-reboot,
#custom-shutdown,
#custom-updates {
    font-size: 1.45rem;
    padding-left: 10px;
    padding-right: 15px;
    margin: 1px;
}

#custom-lock:hover,
#custom-logout:hover,
#custom-reboot:hover,
#custom-shutdown:hover,
#workspaces button:hover {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

#cpu,
#memory,
#temperature,
#clock,
#custom-notification,
#language {
    font-size: 1.35rem;
}

#custom-wmlogo {
    background-image: url("../icons/logo.png");
    background-size: 3.9rem;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1.9rem;
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#workspaces,
#hardware {
    margin-left: 20px;
}

#workspaces button label {
    font-size: 1.4rem;
    font-weight: bold;
    padding-right: 8px;
}

#keyboard-state {
    color: @warning_color;
}

#tray {
    margin-right: 15px;
}

#tray menu {
    background: @theme_bg_color;
    color: @theme_fg_color;
}

#tray menu * {
    font-size: 1.35rem;
}

#tray menu menuitem:hover {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}